app.py~
env
.vscode
run
models/__pycache__/
#temporary pickle storage
picklefiles
test
models/test.py
# Kaggle link -- 
Data

#random files
utils/__pycache__
__pycache__
models/.ipynb_checkpoints/
~/
config/__init__.pyc
__init__.pyc

.env
dbTest

*.h5
**.ipynb

venv
tests
*.jpg
yolo.weights