dash
python-dotenv
Flask-Login
Flask-SQLAlchemy
pandas
pandas_datareader
pymongo
matplotlib
tensorflow==2.0.0b1
tweepy
nltk
tweet-preprocessor
emoji
textblob
Flask-Migrate
Flask-Bcrypt
mysqlclient
python-mysqldb
mysqlclient
PyMySQL
mysql-connector-python
mysqlclient
SQLAlchemy==1.3.9
mysqlclient==1.3.10
dnspython
cython
git+https://github.com/thtrieu/darkflow.git
